<template>
	<article class="related-posts__post related-post" aria-label="{{title}}">
		<a href="{{link}}" aria-label="{{title}}" class="related-post__image-wrap">
			{{@image(featuredImage,maxWidth=600,className=related-post__image,lazyload=true)}}
		</a>
		<h2 class="related-post__title">
			<a href="{{link}}" class="related-post__link">{{title}}</a>
		</h2>
	</article>
</template>

<style>
	.related-posts {
		display: flex;
		margin-bottom: 32px;
	}

	.related-posts__title {
		color: #313946;
		display: block;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.05em;
		margin-bottom: 16px;
		text-align: center;
		text-transform: uppercase;
	}

	.related-posts__post-wrap {
		flex: 1;
	}

	.related-posts__post-wrap:first-of-type {
		margin-right: 32px;
	}
	
	.related-posts__post-wrap:last-of-type {
		margin-left: 32px;
	}

	.related-post__image-wrap {
		display: block;
		margin-bottom: 8px;
	}

	.related-post__image {
		height: 216px;
		object-fit: cover;
		width: 100%;
	}

	.related-post__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
	}

	.related-post__link {
		color: #14161a;
		text-decoration: none;
	}

	.amp .related-post__image-wrap {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 216px;
		overflow: hidden;
	}

	.amp .related-post__image {
		height: auto;
	}

	@media(max-width: 767px) {

		.related-posts__post-wrap:first-of-type {
			margin-right: 16px;
		}
		
		.related-posts__post-wrap:last-of-type {
			margin-left: 16px;
		}
	}
</style>