.footer {
	
	margin: 0 auto;
	max-width: $max-content-container-width;
	padding-bottom: $spacing-lg;

	&__separator {
		border-bottom: 1px solid $color-grey;
		height: 0px;
		margin: 0 auto;
		margin-bottom: $spacing-xl;
		max-width: 640px;
		opacity: 0.5;
		width: calc(100% - 2 * #{$spacing-sm});
	}

	&__content {
		margin-bottom: $spacing-xl;
	}

	&__info {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
	}

	&__logo {
		display: block;
		margin-bottom: $spacing-md;
	}

	&__project-name {
		color: $color-black-1;
	}
}