.page-offline {
	margin-bottom: $spacing-lg;

	&__title {
		font-size: $fs-xl;
		font-weight: 600;
		letter-spacing: 0.03em;
		margin-bottom: $spacing-lg;
		text-align: center;
		text-transform: uppercase;
	}

	&__link-wrap {
		display: flex;
		justify-content: center;
	}

	&__desc {
		margin-bottom: $spacing-lg;
		text-align: center;
	}

	&__reload {
		border: 0;
		background: transparent;
		cursor: pointer;
	}
}